<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Honesty-Preserving Auction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
</head>
<body onload="startCountdown({{ auction_duration - elapsed_seconds }})">
  <script type='text/javascript' src={{ url_for('static', filename='main.js') }}></script>
    <nav>
        <div class="nav-elements">
          <h1 class='main_title'>Honesty-Preserving Auction Simulation</h1>
        </div>
    </nav>
    <br>
    <div class="auction-timer">
      <h2>Auction countdown: <span id="countdown"></span></h2>
    </div>
    <div class="clients-container">
      {% for data in clients_data %}
        <div class="client">
          <p><strong>Client ID:</strong> {{ data['client_id'] }}</p>
          <p><strong>Auction State:</strong> {{ data['state'] }}</p>
          {% if data['commitment'] %}
            <p><strong>Commitment ciphertext:</strong> {{ data['commitment']['S'] }}</p>
          {% else %}
            <p><strong>No commitment sent yet.</strong></p>
          {% endif %}
          <p><strong>Message:</strong> {{ data['message'] }}</p>
          <a href="{{ url_for('force_open', client_id=data['client_id']) }}" class="force_open_button">Force Open</a>
        </div>
      {% endfor %}
    </div>
    
</body>
</html>
